.btn {
  width: 100px;
  height: 34px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--hover-color);
  }
}
